{% extends 'base.html' %}
{% block content %}

<h1>Guitar Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ guitar.brand }}</span>
        <p>Model: {{ guitar.model }}</p>
        <p>Description: {{ guitar.description }}</p>
        {% if guitar.year < 1990 %}
          <p>year: {{ guitar.year }} / vintage</p>
        {% else %}
          <p>year: {{ guitar.year }}</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'guitars_update' guitar.id %}">Edit Guitar</a>
        <a href="{% url 'guitars_delete' guitar.id %}">Delete Guitar</a>
      </div>
    </div>
    <!-- Insert photo markup below this comment -->
    {% for photo in guitar.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}  
    <form action="{% url 'add_photo' guitar.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload Photo">
  </form>
  
  </div>
  <div class="col s6">
    <form action="{% url 'add_restring' guitar.id %}"method="post">
      {% csrf_token %}
      {{ restring_form.as_p }}
      <input type="submit" class="btn" value="Add Restring">
    </form>
    <br>
    {% if guitar.restrung_recently %}
      <div class="card-panel teal-text center-align">{{guitar.brand}} {{guitar.model}} has been restrung recently and should be sounding sweet!</div>
    {% else %}
      <div class="card-panel red-text center-align">{{guitar.brand}} {{guitar.model}} might be needing a restring.</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Strings</th></tr>
      </thead>
      <tbody>
        {% for restring in guitar.restring_set.all %}
          <tr>
            <td>{{restring.date}}</td>
            <td>{{restring.get_brand_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>Guitar/Amp packages</h3>
    {% if guitar.amps.count %}
      {% for amp in guitar.amps.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A {{ amp.brand }} {{ amp.model }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_amp' guitar.id amp.id %}" method="post">
                {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Amps :(</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Amps</h3>
    {% if amps.count %}
      {% for amp in amps.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ amp.brand }} {{ amp.model }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_amp' guitar.id amp.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{ guitar.brand }} {{ guitar.model }} Already Has All Amps Available</h5>
    {% endif %}
  </div>
</div>

<script>
  let dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  let selectEl = document.getElementById('id_brand');
  M.FormSelect.init(selectEl);

</script>

{% endblock %}